<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="colissimows.price-slices" class="ColissimoWs\Loop\PriceSlicesLoop" />
        <loop name="colissimows.freeshipping" class="ColissimoWs\Loop\ColissimoWsFreeShippingLoop" />
        <loop name="colissimows.area.freeshipping" class="ColissimoWs\Loop\ColissimoWsAreaFreeShippingLoop" />
    </loops>

    <forms>
        <form name="colissimows_configuration_form" class="ColissimoWs\Form\ConfigurationForm" />
        <form name="colissimows.freeshipping.form" class="ColissimoWs\Form\FreeShippingForm" />
    </forms>

    <services>
        <service id="colissimows.notification_mail" class="ColissimoWs\EventListeners\ShippingNotificationSender">
            <argument type="service" id="thelia.parser" />
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

    <hooks>
        <hook id="colissimows.hooks" class="ColissimoWs\Hook\HookManager">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfigure" />
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigJs" />
        </hook>
    </hooks>
</config>
